<%=cell NoticeCell, notice: notice %>

<% attributes.each do |attribute| %>
  <p>
    <strong><%= attribute.capitalize%>:</strong>
    <%= item.send(attribute) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_path %> |
<%= link_to 'Back', back_path %>
